$size: 600px;
$header-height: 40px;
$view-units: 15;
$container-border: 4px solid white;
$inner-border: 2px solid white;

$hp-color: #0052ff;
$mp-color: red;
$atk-color: yellow;
$def-color: #60ff27;
$satk-color: orange;
$sdef-color: aquamarine;
