@import './variables.scss';

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: darkgray;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  margin: 0;
}

#app > div {
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.app-container {
  width: $size;
  height: $size;
  display: flex;
  color: white;
  background-color: black;
  flex-direction: column;
  border: $container-border;

  h1 {
    text-align: center;
    height: $header-height;
    margin: 20px 0;
  }
}
