@import 'variables';

.info-container {
  height: $size;
  width: 250px;
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  margin-right: 10px;
  border: $container-border;
  flex-direction: column;

  h2 {
    height: 40px;
    margin: 20px 0;
    text-align: center;
  }

  .info {
    display: flex;
    flex: 1;
    font-size: 15px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;

    ul {
      list-style-type: square;
      padding-left: 20px;
      margin: 0;
    }
  }
}
