@import './variables';

.info-container {
  height: $size;
  width: 250px;
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  margin-right: 10px;
  border: $container-border;

  h2 {
    height: 40px;
    margin: 20px 0;
    text-align: center;
  }
}
