@import 'variables';

.tile {
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  font-size: 20px;

  span {
    padding: 0;
    position: absolute;
    height: 100%;
    display: inline-flex;
    align-items: center;
  }
}
