@import './variables';

.tile {
  width: calc(#{$size}/#{$view-units});
  height: calc(calc(#{$size} - #{$header-height} * 2 + 1px)/#{$view-units});
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  span {
    font-size: 10px;
    padding: 0;
  }

  &.selected {
    background-color: lightgray;

    p {
      background: black;
      padding: 4px;
    }
  }
}
