.tile {
  align-content: center;
  align-items: center;
  justify-content: center;
  border: 1px solid white;

  p {
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
  }

  &.selected {
    background-color: lightgray;

    p {
      background: black;
      padding: 4px;
    }
  }
}
